body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:71px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:218px;
  top:109px;
  width:200px;
  height:71px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:218px;
  top:250px;
  width:200px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:218px;
  top:384px;
  width:200px;
  height:74px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:132px;
}
#u6 {
  position:absolute;
  left:513px;
  top:149px;
  width:168px;
  height:132px;
}
#u7 {
  position:absolute;
  left:2px;
  top:50px;
  width:164px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:71px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:970px;
  top:109px;
  width:200px;
  height:71px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:71px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:970px;
  top:227px;
  width:200px;
  height:71px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:101px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:970px;
  top:371px;
  width:200px;
  height:101px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:318px;
  top:180px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:318px;
  top:324px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:418px;
  top:421px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:546px;
  height:8px;
}
#u18_seg1 {
  position:absolute;
  left:538px;
  top:-4px;
  width:8px;
  height:9px;
}
#u18_seg2 {
  position:absolute;
  left:538px;
  top:-3px;
  width:14px;
  height:8px;
}
#u19 {
  position:absolute;
  left:226px;
  top:-31px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1070px;
  top:180px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:970px;
  top:263px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u22_seg1 {
  position:absolute;
  left:-45px;
  top:-147px;
  width:8px;
  height:151px;
}
#u22_seg2 {
  position:absolute;
  left:-377px;
  top:-147px;
  width:340px;
  height:8px;
}
#u22_seg3 {
  position:absolute;
  left:-377px;
  top:-147px;
  width:8px;
  height:33px;
}
#u23 {
  position:absolute;
  left:-180px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1070px;
  top:298px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:16px;
}
#u24_seg1 {
  position:absolute;
  left:-477px;
  top:8px;
  width:481px;
  height:8px;
}
#u24_seg2 {
  position:absolute;
  left:-477px;
  top:-17px;
  width:8px;
  height:33px;
}
#u25 {
  position:absolute;
  left:-295px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1170px;
  top:263px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u26_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:167px;
}
#u26_seg2 {
  position:absolute;
  left:0px;
  top:155px;
  width:14px;
  height:8px;
}
#u27 {
  position:absolute;
  left:-40px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
